.keyboard-button {
    -fx-background-color: transparent;
    -fx-font-family: 'Lato', sans-serif;
    -fx-border-radius: 4;
    -fx-font-size: 23;
    -fx-border-color: red;
    -fx-alignment: center;
}
.keyboard-button: hover {
    -fx-background-color: lightblue;
}
.keyboard-clicked {
    -fx-background-color: lightgray;
    -fx-font-family: 'Lato', sans-serif;
    -fx-alignment: center;
    -fx-font-size: 23;
    -fx-border-radius: 4;
    -fx-border-color: red;
}
.list-view {
    -fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}
.list-cell {
    -fx-font-size: 20;
    -fx-border-color: grey;
    -fx-background-color: transparent;
    -fx-font-family: 'Roboto Slab', serif;
}
.list-cell: even {
    -fx-border-width: 0 5 0 0;
    -fx-alignment: center-right;
}
.list-cell: odd {
    -fx-border-width: 0 0 0 5;
    -fx-alignment: center-left;
}
.shuffle-key {
    -fx-background-color: transparent;
    -fx-border-radius: 4;
    -fx-font-size: 23;
    -fx-border-color: red;
    -fx-alignment: center;
    -fx-background-image: url("media/shuffle.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.shuffle-key: hover {
    -fx-background-color: lightblue;
}
.backspace-button {
    -fx-background-image: url("media/backspace.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-radius: 4;
    -fx-border-color: red;
    -fx-alignment: center;
}
.backspace-button: hover {
    -fx-background-color: lightblue;
}
.already-answered {
    -fx-background-color: #F08080;
    -fx-font-family: 'Lato', sans-serif;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-font-size: 14;
    -fx-border-color: white;
    -fx-alignment: center;
    -fx-text-fill: white;
}
.wrong-answer {
    -fx-background-color: #F08080;
    -fx-font-family: 'Lato', sans-serif;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-font-size: 23;
    -fx-border-color: white;
    -fx-alignment: center;
    -fx-text-fill: white;
}
.normal-text {
    -fx-font-family: 'Roboto Slab', serif;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.speech-bubble {
    -fx-font-family: 'Roboto Slab', serif;
    -fx-font-size: 25;
    -fx-background-image: url("media/ChatBubble.png");
    -fx-text-fill: white;
    -fx-background-size: 178;
    -fx-background-repeat: no-repeat;
    -fx-padding: 5 0 15 0;
}