.swap-button {
    -fx-background-image: url("media/swap.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.swap-button:hover {
    -fx-rotate: 360;
}
.speak-button {
    -fx-background-image: url("media/voice.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.speak-button:hover {
    -fx-background-color: lightcoral;
}
.mic-button {
    -fx-background-image: url("media/mic.png");
    -fx-background-color:transparent;
    -fx-background-radius: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.mic-button:hover {
    -fx-background-color: lightcoral;
}
.recording-button {
    -fx-background-image: url("media/recording.png");
    -fx-background-color:transparent;
    -fx-background-radius: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.recording-button: hover {
    -fx-background-image: url("media/recordingstop.png");
}
.micload-button {
    -fx-background-image: url("media/micload.gif");
    -fx-background-color:transparent;
    -fx-background-radius: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}