@font-face {
    src: url("fonts/Lato-Bold.ttf");
}
@font-face {
    src: url("fonts/RobotoSlab-Regular.ttf");
}
.search-button {
    -fx-background-image: url("media/search.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: 20;
}
.search-button:hover {
    -fx-background-color: #CECFD3;
}
.home-button {
    -fx-background-image: url("media/home.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: 20;
}
.home-button:hover {
    -fx-background-color: #CECFD3;
}
.menu-bar-button {
    -fx-background-image: url("media/menu_bar.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20;
    -fx-background-position: center;
}
.menu-bar-button:hover {
    -fx-background-color: #CECFD3;
}
.google-translate-button {
    -fx-background-image: url("media/google_translate.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: 20;
}
.google-translate-button:hover {
    -fx-background-color: #CECFD3;
}
.learning-button {
    -fx-background-image: url("media/learning.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: 20;
}
.learning-button:hover {
    -fx-background-color: #CECFD3;
}
.games-button {
    -fx-background-image: url("media/games.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: 20;
}
.games-button:hover {
    -fx-background-color: #CECFD3;
}
.tab-button {
    -fx-font-family: 'Lato', sans-serif;
    -fx-background-color: transparent;
    -fx-font-size: 11px;
    -fx-border-color: blue;
    -fx-border-width: 0.2;
}
.tab-button:hover {
    -fx-background-color: #6495ED;
    -fx-text-fill: white;
}
.en-vi-button {
    -fx-background-image: url("media/united-kingdom.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.vi-en-button {
    -fx-background-image: url("media/vietnam.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.generic-button {
    -fx-background-color: transparent;
}
.generic-button:hover {
    -fx-background-color: lightcoral;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-vbar-policy: never;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
    -fx-vbar-policy: never;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-vbar-policy: never;
}
.text-field {
    -fx-focus-color: -fx-control-inner-background ;
    -fx-faint-focus-color: -fx-control-inner-background ;
}
.close-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-image: url("media/close.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 10;
    -fx-background-position: center;
}
.close-button:hover {
    -fx-background-color: #FF0000;
}
.minimize-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-image: url("media/minimize.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 10;
    -fx-background-position: center;
}
.minimize-button:hover {
    -fx-background-color: #D3D3D3;
}
.app-label {
    -fx-background-image: url("media/app.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40;
    -fx-background-position: 0;
}
.click-button {
    -fx-background-color: #E4E5E9;
    -fx-text-fill: black;
}
.click-button:hover {
    -fx-background-color: antiquewhite;
    -fx-text-fill: brown;
}
.combo-box-popup .cell:selected {
    -fx-background-color: lightcoral;
}
.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: lightcoral;
}
.scroll-bar:vertical *.increment-button,
.scroll-bar:vertical *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-bar:vertical *.increment-arrow,
.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
.back-button {
    -fx-background-image: url("media/back.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.back-button:hover {
    -fx-background-color: #CECFD3;
}