@font-face {
    src: url("fonts/Lato-Bold.ttf");
}
.search-button {
    -fx-background-image: url("media/search.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.search-button:hover {
    -fx-background-size: 25;
}
.home-button {
-fx-background-image: url("media/home.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.home-button:hover {
    -fx-background-size: 25;
}
.menu-bar-button {
    -fx-background-image: url("media/menu_bar.png");
    -fx-background-color:white;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.menu-bar-button:hover {
    -fx-background-size: 25;
}
.google-translate-button {
    -fx-background-image: url("media/google_translate.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.google-translate-button:hover {
    -fx-background-size: 25;
}
.learning-button {
    -fx-background-image: url("media/learning.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40;
    -fx-background-position: center;
}
.learning-button:hover {
    -fx-background-size: 25;
}
.games-button {
    -fx-background-image: url("media/games.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.games-button:hover {
    -fx-background-size: 25;
}
.tab-button {
    -fx-font-family: 'Lato', sans-serif;
    -fx-background-color: transparent;
    -fx-font-size: 11px;
    -fx-border-color: blue;
    -fx-border-width: 0.2;
}
.tab-button:hover {
    -fx-background-color: #6495ED;
    -fx-text-fill: white;
}
.en-vi-button {
    -fx-background-image: url("media/united-kingdom.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.vi-en-button {
    -fx-background-image: url("media/vietnam.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.generic-button {
    -fx-background-color: transparent;
}
.generic-button:hover {
    -fx-background-color:lightblue;
}
.backspace-button {
    -fx-background-image: url("media/backspace.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-vbar-policy: never;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
    -fx-vbar-policy: never;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-vbar-policy: never;
}