@font-face {
    src: url("fonts/Lato-Bold.ttf");
}
.search-button {
    -fx-background-image: url("media/search.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25;
    -fx-background-position: center;
}
.search-button:hover {
    -fx-background-image: url("media/search_hover.png");
}
.menu-bar-button {
    -fx-background-image: url("media/menu_bar.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.menu-bar-button:hover {
    -fx-background-image: url("media/menu_bar_hover.png");
}
.google-translate-button {
    -fx-background-image: url("media/google_translate.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.google-translate-button:hover {
    -fx-background-image: url("media/google_translate_hover.png");
}
.learning-button {
    -fx-background-image: url("media/learning.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40;
    -fx-background-position: center;
}
.learning-button:hover {
    -fx-background-image: url("media/learning_hover.png");
}
.games-button {
    -fx-background-image: url("media/games.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.games-button:hover {
    -fx-background-image: url("media/games_hover.png");
}
.tab-button {
    -fx-font-family: 'Lato', sans-serif;
    -fx-background-color: transparent;
    -fx-font-size: 11px;
    -fx-border-color: blue;
    -fx-border-width: 0.2;
}
.tab-button:hover {
    -fx-background-color: #6495ED;
    -fx-text-fill: white;
}
.en-vi-button {
    -fx-background-image: url("media/united-kingdom.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.vi-en-button {
    -fx-background-image: url("media/vietnam.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}