.slider .track {
    -fx-background-color: lightcoral;
    -fx-border-color: lightcoral;
    -fx-border-radius: 3;
}
.slider .thumb {
    -fx-background-color: lightcoral;
}
.save-button {
    -fx-background-image: url("media/save2.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: center;
}
.save-button:hover {
    -fx-opacity: 0.5;
}